*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: black;

}
* > a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
}
* > a:hover{
    background-color: rgb(100, 100, 100);
}

header{
    border: 1px solid white;
    width: 98%;
    height: 5em;
    color: white;
    margin: 0 auto;
}
header > .main-header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: "";

}

header > .main-header > .title{
    padding-left: .8em; 
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center; 
}

header > .main-header > .title > h1{
    font-size: 3em;
}

header > .main-header > .items{
    
    height: 100%;
    width: 90%;
    margin: 0 auto;

}

header > .main-header > .items > ul{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

header > .main-header > .items > ul > li{
    float: left;
    display: flex;
    list-style: none;
    height: 90%;
    /* width: 90%; */
    align-items: center;
    justify-content: center;

  
}

header > .main-header > .items > ul > li:hover{
    background-color: gray;
}

main{
    /* display: grid; */
    border: 1px solid whitesmoke;
    margin: 5em auto;
    width: 95%;
    height: 50vh;
}

main > form{
    display: block;
}

main > form > .input{
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

main > form > .input > input{
    height: 2em;
    width: 10em;
    margin: 2em;
    color: whitesmoke;
    padding-left: .5em;
    border: 1px solid whitesmoke;
}

main > form > .btn{
    /* grid-area: btn; */
    width: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;

}

main > form >  input{
    height: 2em;
    width: 10em;
    border: 1px solid white;
    width: 10%;
    margin: 8em auto;
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
}

main > form >  input:hover{
    background-color: rgb(100, 100, 100);
}