<!DOCTYPE html>
<html>
    <title>Cadastro de medições</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    
    <body>
        <header>
            <div class="items">
                <ul>
                    <li><a href="{{url_for('cafe')}}">Café</a></li>
                    <li><a href="{{url_for('almoco')}}">Almoço</a></li>
                    <li><a href="{{url_for('lanche')}}">Lanche</a></li>
                    <li><a href="{{url_for('jantar')}}">Jantar</a></li>
                    <li><a href="{{url_for('dormir')}}">Dormir</a></li>
                    <li><a href="{{url_for('madrugada')}}">Madrugada</a></li>
                </ul>
            </div>
        </header>
        <main>
            
        </main>
    </body>


</html>