<!DOCTYPE html>
<html>
    <title>Cadastro de medições</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_b.css')}}">

    
    <body>
        <header>
            <div class="main-header">
                <div class="title">
                    <h1>S-Glucose</h1>
                </div>
    
                <div class="items">
                    <ul>
                        <li><a href="{{url_for('cafe')}}">Café</a></li>
                        <li><a href="{{url_for('almoco')}}">Almoço</a></li>
                        <li><a href="{{url_for('lanche')}}">Lanche</a></li>
                        <li><a href="{{url_for('jantar')}}">Jantar</a></li>
                        <li><a href="{{url_for('dormir')}}">Dormir</a></li>
                        <li><a href="{{url_for('madrugada')}}">Madrugada</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <form action="http://localhost:5000/cadastra/madrugada" method="POST">
                <div class="input">
                    <label for="UI">Insulina (possível correção)</label>
                    <input type="text" name="UI" placeholder="UI">

                    <label for="glicose">Glicose</label>
                    <input type="text" name="glicose" placeholder="glicose">     
                </div>
                <input type="submit" name="submit" value="Enviar">
            </form>
        </main>
    </body>


</html>